Custom Items Workspace.code-workspace
*.settings
*.classpath
*.project
*.gitignore
/.metadata/
/BitHelper
/Core-Plugin
/Gui
/SafeGuiTester
/BasePlugin/bin
/SharedCode/bin
/Editor/bin
/EditorTester/bin
/EditorTester/autotest*
/EditorTester/before_test_failed.png
/Github.io
*.jar
*/.idea
*.iml